* {
    box-sizing: border-box;
}

.navbar {
    margin: 0;
    z-index: 100;
}

ul li.nav-item {
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    transition: all .45s ease-in-out;
    border-right: 2px solid rgba(0, 0, 0, 0);
    border-left: 2px solid rgba(0, 0, 0, 0);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0); */
    cursor: pointer;
    color: #2b2b2b;
    position: relative;
}

ul li.nav-item::after, ul li.nav-item::before {
    content: "";
    width: 0%;
    position: absolute;
    background-color: black;
    transition: all .25s ease-in-out;
    transform-origin: left;
}

ul li.nav-item::after {
    bottom: 0;
    right: 0;
    transform-origin: left;
    height: 2px;
}

ul li.nav-item::before {
    top: 0;
    left: 0;
    transform-origin: right;
    height: 1px;
}

ul li.nav-item:hover::after, ul li.nav-item:hover::before {
    width: 100%;
}

ul li.nav-item:hover {
    transform-origin: bottom;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

ul.navbar-nav {
    text-align: center;
    display: flex;
    align-items: center;
}

.logo {
    width: 180px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute !important;
    top: 200%;
    left: -30px;
    transition: all .15s ease-in-out;
    opacity: 0;
    text-align: center;
    display: inline-block;
    visibility: hidden;
}

li:hover .dropdown-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

@media (max-width:786px) {
    ul li.nav-item {
        padding: 10px 13px 10px 13px;
    }

    ul li.nav-item:last-child {
        padding: 0;
        border-right: none;

    }
}

@media (max-width:575px) {
    ul li.nav-item {
        border: none;
    }

    .dropdown-menu {
        display: none;
    }

    li:hover .dropdown-menu {
        display: inline-block;
    }
}