body {
  scroll-behavior: smooth;
  /* background-color: rgb(223, 221, 221); */
  background-color: rgb(255, 253, 253);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

.box-background {
  background-color: blueviolet;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::placeholder {
  font-style: none;
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.fake-line {
  height: 2000px;
}

.container {
  max-width: 1320px !important;
  margin: 0 auto;
}

.lead {
  font-size: .94rem;
}

.bulletin {
  padding: 20px;
  font-size: larger;
  background-color: #0084ff;
  color: rgb(255, 255, 255);
}

textarea {
  resize: none
}

.floating-news {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  margin: 20px auto 0 auto;
  padding: 50px 20px;
  text-align: justify;
  height: 600px;
  border-radius: 8px;
  transition: all 1s ease-in-out;
}

.floating-news-inside::-webkit-scrollbar {
  display: none;
}

.floating-news-inside {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.floating-news-bg {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.425);
}

/* login page and cPanlel page*/

.loginPage {
  display: grid;
  place-items: center;
  width: 100%;
  height: 80vh;
}

.loginBox {
  background-color: rgb(206, 233, 255);
  border-radius: 20px;
  margin: 0 auto;
  padding: 30px 60px;
}

.form-control {
  height: 50px;
}

.passfield {
  position: relative;
}

.showHidePass {
  position: absolute;
  top: 30%;
  right: 10px;
  cursor: pointer;
}

input[data-aria="password"] {
  padding-right: 60px;
}

/* pagination */

.page-item {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid gray;
  transition: all .35s ease-in-out;
}

.page-item:hover {
  color: #ffffff;
  background-color: #00203b;
}

.previous-btn {
  border-radius: 6px 0 0 6px;
}

.next-btn {
  border-radius: 0 6px 6px 0;
}


.elementPerPage {
  padding: 5px 10px;
  margin: 0 10px;
}

.page-item.active {
  color: white;
  background-color: #00203b;
}

.page-item.disabled-btn {
  color: rgba(61, 61, 61, 0.418);
  background-color: rgb(184, 182, 182);
}

/* media section */

@media all and (max-width: 700px) {
  .floating-news {
    height: 500px;
  }
}

@media all and (max-width: 500px) {
  .floating-news {
    height: 450px;
  }
}

@media all and (max-width: 300px) {
  .floating-news {
    height: 400px;
  }
}

.hover-text-white:hover {
  color: white !important;
}

.click-effect {
  transition: .35s;
  transform: scale(1);
}

.click-effect:active {
  transform: scale(.95);
}



.notice-description{
  font-weight: 400;
}

.close-btn{
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 0;
  margin: 0;

  color: black;
  position: absolute;
  top: -30px;
  right: -30px;
  border-radius: 50%;
  opacity: .7;
}
.edit-btn{
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 0;
  margin: 0;

  color: black;
  position: absolute;
  top: 30px;
  right: -30px;
  border-radius: 50%;
  opacity: .7;
}
.delete-btn{
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 0;
  margin: 0;

  color: black;
  position: absolute;
  top: 90px;
  right: -30px;
  border-radius: 50%;
  opacity: .7;
}
.delete-btn:hover,.close-btn:hover,.edit-btn:hover{
  background-color: #0084ff;
  color: white;
  opacity: 1;
}